<main id="content">
  <!-- Hero Section -->
  <div class="bg-img-hero-center" style="background-image: url(../../assets/cave_a_vin.jpg);">
    <div class="container space-2 space-3-top--lg space-2-bottom--lg">
      <div class="w-md-70">
        <!-- Title -->
        <div class="mb-7">
          <h1 class="display-2 font-size-48--md-down text-white">
            Cave à Vin
          </h1>
        </div>
        <!-- End Title -->
      </div>
      <div class="w-md-150 w-lg-1000">
        <!-- Input -->
        <div class="form-row ">
          <div class="form-group col-md-4">
            <%= form_tag "/wine", method: "post" do %>
              <input class="form-control form__input" type="string" name="name" placeholder="Ajouter un Vin" aria-label="Ajouter un Vin">
            </div>
            <div class=" form-group col-md-2">
              <select class="form-control" style="btn-primary" name="color" type="integer" "<%= select_tag(:color, raw('<option value="1"></option><option value="2">Rouge</option><option value="3">Rosé</option><option value="4">Blanc</option><option value="5">Autre</option>')) %>">
              </select>
            </div>
            <div class="form-group col-md-2">
              <button type="submit" class="btn btn-block btn-primary"/>Ajouter
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Header Section -->
  <div class="container">
    <div class="row space-2 justify-content-around">
      <a class="col-2 btn btn-sm btn-outline-primary" href="/wine"  title="Rouge">Tous</a>
      <a class="col-2 btn btn-sm btn-outline-primary" href="/wine?color=2" role="button" title="Lien 2">Rouge</a>
      <a class="col-2 btn btn-sm btn-outline-primary"  href="/wine?color=3" role="button" title="Rouge">Rosé</a>
      <a class="col-2 btn btn-sm btn-outline-primary" href="/wine?color=4"  role="button" title="Blanc">Blanc</a>
      <a class="col-2 btn btn-sm btn-outline-primary" href="/wine?color=5" role="button" title="Lien 2">Autre</a>
    </div>
  </div>
  <!-- Table présentation -->
  <div class="container space-3-bottom">
    <table id="vin" class=" table table-striped table-bordered sortable table-responsive-sm" >
      <thead class="thead-dark">
        <tr>
          <th scope="col3">
            <center>Vin</center>
          </th>
          <th scope="col3">
            <center>Couleur</center>
          </th>
          <th scope="col3">
            <center>Millésime</center>
          </th>
          <th scope="col3">
            <center>A Boire En</center>
          </th>
          <th scope="col3">
            <center>Quantité</center>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @vins.each do |vin| %>
            <td>
              <center><a id="lien_bleu" href="/wines/<%= vin.id %>"><%= vin.name %></a></center>
            </td>
            <td>
              <center>
                <% if vin.color == 1 %>-
                <% elsif vin.color == 3 %>Rosé
                <% elsif vin.color == 4 %>Blanc
                <% elsif vin.color == 5 %>Autre
                <% elsif vin.color == 2 %>Rouge
                <%end%>
              </center>
            </td>
            <td>
              <center>
                <% if vin.vintage %>
                  <%= vin.vintage.year %>
                <% else %>-
                <% end %>
              </center>
            </td>
            <td>
              <center>
                <% if vin.goal %>
                  <%= vin.goal.year %>
                <% else %>-
                <% end %>
              </center>
            </td>
            <td>
              <center><%= vin.nbr_bottle %></center>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</main>
