<main id="content">
  <div class="bg-img-hero-bottom" style="background-image: url(/assets/pinard.jpg);">
    <div class="d-flex align-items-end height-400">
      <div class="container space-1-bottom">
        <div class="row align-items-sm-end">
          <div class="col-sm-3 text-sm-left">
            <a class="btn btn-primary btn-wide" href="/wine" title="Acceuil">Acceuil</a>
          </div>
          <div class="col-sm-9 text-sm-right">
            <%= form_tag "/wines/#{@wine.id}", method: "delete" do %>
              <input class="btn btn-primary btn-wide" type="submit" value="Supprimer le Vin"/>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fiche Vin -->
  <div class="container space-3">
    <div class="row justify-content-around">
      <div class="space-3-top--lg col-sm-6 col-md-4 mb-7 mb-md-0">
        <h2 class="h3">
          <% if @wine.name %>
            <%= @wine.name %>
          <% else %>
            -
          <% end %>
        </h2>
        <span class="d-block text-secondary h4">
          <% if @wine.vintage %>
            <%= @wine.vintage.year %>
          <% else %>
            Année à indiquer
          <% end %>
        </span>
        <div class="space-2">
          <hr class="my-1"></hr>
        <ul class="list-unstyled text-secondary">
          <li class="media align-items-center pb-1 space-1">
            <div class="media-body">Vin :
              <% if @wine.color == 1 %>-
              <% elsif @wine.color == 3 %>Rosé
              <% elsif @wine.color == 4 %>Blanc
              <% elsif @wine.color == 5 %>Autre
              <% elsif @wine.color == 2 %>Rouge
              <% else %> A compléter
              <%end%>
            </div>
          </li>
          <li class="media align-items-center py-1">A consommer en :
            <% if @wine.goal %>
              <%= @wine.goal.year %>
            <% else %>NA
            <% end %>
          </li>
          <li class="media align-items-center py-1">Nombres de bouteilles en stock
            <% if @wine.nbr_bottle %>
              <%= @wine.nbr_bottle %>
            <% else %>0
            <% end %>
          </li>
        </ul>
        <hr class="my-5">
      </div>
    </div>
    <!-- Formulaire -->
    <span class="border border-secondary"></span>
    <div class="col-lg-4 ">
      <%= simple_form_for @wine, :url => {:controller => "wine", :action => "update"} do |f| %>
        <%= f.input :name, required: false, :label => "Vin" %>
        <%= f.input :vintage,
                    as: :date,
                    discard_day: true,
                    discard_month: true,
                    :label => "Millésime",
                    required: false,
                    start_year: Date.today.year - 60 %>
        <%= f.input :goal,
                    required: false,
                    as: :date,
                    discard_day: true,
                    discard_month: true,
                    :label => "Quand boire",
                    end_year: Date.today.year + 60 %>
        <%= f.input :nbr_bottle, required: false, html5: true,:label => "Stock" %>
        <%= f.input :color, collection: [['Rouge', '2'], ['Rosé', '3'],['Blanc', '4'],['Autre', '5']],required: false, html5: true, :label => "Couleur" %>
      </div>
    </div>
    <div class="row space-2 space-2-top--lg space-2-top--lg space-lg-2  justify-content-md-center">
      <%= f.button :submit, "Valider", class: "btn btn-sm btn-outline-primary" %>
    <% end %>
  </div>
</main>
